/* we can use webcss variables, fabric compiles that to gtk css.
   global variables can be stored in :vars */
:vars {
    --background:  #355c7d;
    --foreground:  #F0F3F5;
    --color0:  #f8b195;
    --window-bg: alpha(var(--background), 0.6);
    --module-bg: alpha(var(--background), 0);
    --border-color: var(--color0);
    --ws-active: var(--color0);
    --ws-inactive: var(--color0);
    --ws-empty: var(--color0);
    --ws-hover: var(--color0);
    --ws-urgent: var(--color0);
}

/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--foreground);
    font-size: 16px;
    font-family: "JetBrains Mono", sans-serif;
    border-radius: 100px;
}
/*
button {
    background-size: 400% 400%;
}
*/
#bar-inner {
    padding: 2px;
    border: solid 0px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
    min-height: 20px;
}

#workspaces {
    padding: 2px;
    min-width: 0px;
    background-color: var(--module-bg);
}

#workspaces>button {
    padding: 0px 9px;
    transition: padding 0.05s steps(8);
    background-color: var(--ws-inactive);
}

#workspaces>button>label {
    font-size: 0px;
}

#workspaces>button:hover {
    background-color: var(--ws-hover);
}

#workspaces>button.urgent {
    background-color: var(--ws-urgent);
}

#workspaces>button.active {
    padding: 0px 16px;
    background-color: var(--ws-active);
}

#workspaces>button.empty {
    background-color: var(--ws-empty);
}


#date-time,
#hyprland-language,
#hyprland-window {
    background-color: var(--module-bg);
    padding: 0px 8px;
}
/*
menu>menuitem>label,
#date-time>label,
#hyprland-language>label,
#hyprland-window>label {
    font-weight: 900;
}
*/
/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--module-bg);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--border-color);
}


#cpu-progress-bar,
#ram-progress-bar,
#bat-progress-bar,
#vol-progress-bar{
    color: transparent;
    background-color: transparent;
    border: solid 0px var(--border-color);
    padding: 0px;
    border-radius: 1px;
}


#widgets-container {
    background-color: var(--module-bg);
    padding: 2px;
}

tooltip {
    border: solid 2px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}

tooltip>* {
    padding: 2px 4px
}


