* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: rgba(#3a3a3a, 0.3);
  color: #b0b4bc;
  padding: 1px;
}

.powermenu{
  background-color: rgba(#3a3a3a, 0.2);
  color: #b0b4bc;
  padding: 10px;
}

// Styles on classes (see eww.yuck for more information)

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 100px;
  min-width: 25px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 20px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 100px;
  min-width: 25px;
  margin-left: 10px;
  margin-right: 20px;
}


//Battery indacator
.battery scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.battery scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 2px;
  min-height: 10px;
  min-width: 20px;
  margin-left: 10px;
  margin-right: 20px;
}
.battery scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.battery scale trough {
  all: unset;
  background-color:  #D35D6E;
  border-radius: 2px;
  min-height: 10px;
  min-width: 20px;
  margin-left: 10px;
  margin-right: 0px;
}

.battery-lable{
  color:  #D35D6E;
  font-size: 15px;
  padding: 0px;
}



.circular-lable{
  color: #FF79C6;
  font-size: 10px;
  padding: 5px;
}

.metric-circle{
  color: #A8ACB3;
  border-radius: 1px;
  margin-left: 10px;
  margin-right: 10px;
}


.workspaces button:hover {
  color: #D35D6E;
}

